#atout {
    margin-top: 3%;
}

@media (min-width: 600px) {
    .buttAtout {
        padding: 10px;
        background-color: #ee99a0;
        color: black;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 9px #e7747d;
    }

    .buttAtout:active {
        box-shadow: 0 5px #e76a74;
        transform: translateY(4px);
    }

    .uldetail{
        margin-left: 5%;
        margin-bottom: 3%;
    }

    .lidetail{
        margin-top: 1%;
        margin-bottom: 1%;
        line-height: 1;
    }
}

@media (max-width: 600px) {
    .buttAtout {
        padding: 5px;
        background-color: #ee99a0;
        color: black;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }

    .uldetail{
        margin-left: 10%;
        margin-bottom: 8%;
    }
    
    .lidetail{
        margin-top: 2%;
        margin-bottom: 2%;
        line-height: 2;
    }
}