@media (min-width: 600px) {
    body{
        font-family: 'Space Grotesk', monospace;
        font-size: 19px;
        background-color: #24273a;
        color: #cad3f5;

    }
    .tree{
       color: #cad3f5;
       font-size: 20px;
       text-decoration: none;
    }

    h1 {
        margin-top: 2%;
        margin-bottom: 1%;
    }
    .body{
      width:70%;
      margin-left: 15%;
    }

    #footerabs{
        margin-top: 5%;
        height: 26%;
        background-color: #181926;
        position: absolute;
        top: 120%;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #footerstat{
        margin-top: 5%;
        background-color: #181926;
        padding-bottom: 5%;
        margin-bottom: 0;
    }
    .footimg{
        margin-top: 30px;
        width: 40px;
    }

    .footlien{
        text-decoration: none;
        color: #cad3f5;
    }
    
  .divlienFooter {
    min-width: none;
    display: flex;
    gap:30px;
    flex-direction: row;
    justify-content: center;
  }
}


@media (max-width: 600px) {
    body{
        font-family: 'Space Grotesk', monospace;
        font-size: 15px;
        background-color: #24273a;
        color: #cad3f5;
    }
    .tree{
       color: #cad3f5;
       font-size: 19px;
    }
    
    h1 {
        margin-top: 2%;
        margin-bottom: 3%;
        color: #a5adcb;
    }
    .body{
      width: 80%;
      margin-left: 10%;
    }

    #footerabs{
        margin-top: 5%;
        height: 26%;
        background-color: #181926;
        position: absolute;
        top: 102%;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #footerstat{
        margin-top: 5%;
        background-color: #181926;
        padding-bottom: 5%;
        margin-bottom: 0;
    }
    .footimg{
        margin-top: 30px;
        width: 40px;
    }

    .footlien{
        text-decoration: none;
        color: #cad3f5;
    }

    .divlienFooter {
        min-width: none;
        display: flex;
        gap:10px;
        flex-direction: row;
        justify-content: center;
    }
}