@media (min-width: 600px) {
  .buttheader{
    height: 50px;
    width: 150px;
    background-color: rgb(103, 75, 224);
    color: #EFDE56;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .divheader{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4B7AE0;
  }

  header {
    border-bottom: solid;
    border-color: #7398E7;
    background-color: #7398E7;
  }

  .divlienHead {
    margin-left: 10%;
    min-width: none;
    display: flex;
    gap:30px;
    flex-direction: row;
    justify-content: center;
  }

  .lienHead{
    font-size: 20px;
    cursor: pointer;
    padding-top: 2%;
    text-decoration: none;
    color: white;  
  }

  #title {
    padding-top: 0.5%;
    color: white;
  }
}

@media (max-width: 600px) {
  .buttheader{
    height: 50px;
    width: 150px;
    background-color: rgb(103, 75, 224);
    color: #EFDE56;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .divheader{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4B7AE0;
  }

  header {
    border-bottom: solid;
    border-color: #7398E7;
    background-color: #7398E7;
  }

  .divlienHead {
    margin-left: 10%;
    min-width: none;
    display: flex;
    gap:15px;
    flex-direction: row;
    justify-content: center;
  }

  .lienHead{
    font-size: 15px;
    cursor: pointer;
    padding-top: 2%;
    text-decoration: none;
    color: white;  
  }

  #title {
    padding-top: 0.5%;
    color: white;
    font-size: 20px;
  }
}