@media (min-width: 600px) {
  .buttheader{
    height: 50px;
    width: 150px;
    background-color: #8aadf4;
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #729aea;
  }

  .divheader{
    margin-top: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #494d64;
  }

  header {
    padding-top: 1%;
    border-bottom: solid;
    border-color: #363a4f;
    background-color: #363a4f;
  }

  .divlienHead {
    margin-left: 10%;
    min-width: none;
    display: flex;
    gap:30px;
    flex-direction: row;
    justify-content: center;
  }

  .lienHead{
    font-size: 20px;
    cursor: pointer;
    padding-top: 2%;
    text-decoration: none;
    color: white;  
  }

  #title {
    padding-top: 0.5%;
    color: white;
  }

  .buttheader:active {
    box-shadow: 0 5px #e1ff00;
    transform: translateY(4px);
  }
}

@media (max-width: 600px) {
  .buttheader{
    height: 50px;
    width: 150px;
    background-color : #8aadf4;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }

  .divheader{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #494d64;
  }

  header {
    border-bottom: solid;
    border-color: #363a4f;
    background-color: #363a4f;
  }

  .divlienHead {
    margin-left: 10%;
    min-width: none;
    display: flex;
    gap:15px;
    flex-direction: row;
    justify-content: center;
  }

  .lienHead{
    font-size: 15px;
    cursor: pointer;
    padding-top: 2%;
    text-decoration: none;
    color: white;  
  }

  #title {
    padding-top: 0.5%;
    color: white;
    font-size: 20px;
  }
}