.lien{
    color: blue;
    cursor:pointer;
    text-decoration-line: underline ;
}


.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(139, 139, 139, 0.534);
  color: white;
}


@media (min-width: 600px) {
    .portrait{
        width: 25%;
        height: 25%;
        display: none;
    }

    #pres{
        margin-left: 3%;
        margin-top: 2%;
    }

    .textpres{
        margin-bottom: 2%;
    }

    .next{
        right: 15%;
        top: 37%;
    }

    #titlepage{
        font-size: 30px;
        margin-bottom: 2%;
    }

}

@media (max-width: 600px) {
    .next{
        right: 15%;
        top: 80%;
    }

    .portrait{
        top: 70%;
    }

    #quentin {
        width: 200px;
        height: 250px;
        display: none;
        position: absolute;
    }
    #mura {
        width: 200px;
        height: 300px;
        display: none;
        position: absolute;
    }

    #titlepage{
        font-size: 20px;
        margin-bottom: 5%;
    }
}