.image{
    width: 25%;
    height: 25%;
    cursor: pointer;
}

.grandimage{
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.sequenceimage{
    width: 10%;
    height: 5%;
}

.simage{
    width:20%;
    height: 20%;
}

.gimage{
    width: 80%;
}

.full{
    display: none;
}

#divfull{
    position: fixed;
    background-color: rgb(77, 77, 77, 0.75);
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 100%;
    display: none;
}

h1{
    font-size: 37px;
}

.titlePartie {
    margin-top: 5%;
    margin-bottom: 3%;
}

li{
    margin-left: 5% ;
}

ul{
    margin-top: 2%;
    margin-bottom: 2%;
}   

.dessous {
    position: absolute;
    margin-top: 13%;
    left: 5%;
}

#portfolio {
    width: 90%;
    margin-left: 5%;
}

#erg{
    margin-top: 2%;
}