img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.image-wrapper {
  width: 100%;
  margin: 1rem auto;
}

.image-wrapper.small {
  max-width: 25%;
}

.image-wrapper.medium {
  max-width: 10%;
}

.image-wrapper.large {
  max-width: 40%;
}

.image-wrapper.extra{
    max-width: 70%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.sequenceimage{
    width: 10%;
    height: 5%;
}

.simage{
    width:20%;
    height: 20%;
}

.gimage{
    width: 70%;
}

.mcdimage{
    width: 80%;
}

.full{
    display: none;
}

#divfull{
    position: fixed;
    background-color: rgb(77, 77, 77, 0.75);
    text-align: center;
    top: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 100%;
    display: none;
}

h1{
    font-size: 37px;
}

.titlePartie {
    margin-top: 5%;
    margin-bottom: 3%;
}

li{
    margin-left: 5% ;
}

ul{
    margin-top: 2%;
    margin-bottom: 2%;
}   

.images-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.images-stack img {
  max-width: 100%;
  height: auto;
}

#portfolio {
    width: 90%;
    margin-left: 5%;
}

#erg{
    margin-top: 2%;
}

.rowNoGap{
    min-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#req{
    width: 50%;
}

#schema{
    width: 40%;
    text-align: center;
}